.rotator__case {
  display: none;
}

.rotator__case_active {
  display: inline;
}

[data-color = "colorGreen"] {
  color: green;
}
[data-color = "colorRed"] {
  color: red;
}
[data-color = "colorBlue"] {
  color: blue;
}
